page-category {
    .cate-content {
        height: 100%;
        width: 100%;
        display: flex;
        .cate-left {
            width: 100px;
            height: 100%;
            overflow-y: auto;
        }
    
        .cate-right {
            height: 100%;
            flex:1;
            overflow-y: auto;
        }
    }

   
}
