<ion-header>
  <ion-navbar>
    <ion-title>京东</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager loop='true' autoplay='2000' class='my-slides'>

    <ion-slide>
      <img src="assets/imgs/slide01.png" alt="" />
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/slide02.png" alt="" />
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/slide03.jpg" alt="" />
    </ion-slide>

  </ion-slides>

  <div class='my-title'>
    精品推荐
  </div>

  <div class='slide-product'>
    <ion-scroll scrollX="true">
      <ul class='clearfix' [ngStyle]="{'width':recListWidth}">
        <li *ngFor='let item of recList'>
          <img src="{{item.pic}}" alt="">
          <p>{{item.title}}</p>
        </li>
      </ul>
    </ion-scroll>

  </div>

  <div class='my-title'>
    猜你喜欢
  </div>

  <div class='index-product'> 
    <ion-row>
      <ion-col col-6 *ngFor='let item of recList'>

        <img src="{{item.pic}}" alt="">
        <p>{{item.title}}</p>

      </ion-col>
    </ion-row>
  </div>

</ion-content>